<div class="col-md-4">
  <div class="value-prop-card">
    <div class="icon-box"><i class="$!{Content.iconClass}"></i></div>
    <h3>$!{Content.title}</h3>
    <p>$!{Content.description}</p>
  </div>
</div>