$request.getSession()
$dotJSON.put("key", "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhcGlkYzNjMjg2NS1lNDRiLTRmZGYtYWQ0NC1jYWUzODgxN2U1ZjciLCJ4bW9kIjoxNzIxMjY1NjE3MDAwLCJuYmYiOjE3MjEyNjU2MTcsImlzcyI6ImNvcnBzaXRlcy1zdGFydGVyIiwiZXhwIjoxNzIyMTI5NjE3LCJpYXQiOjE3MjEyNjU2MTcsImp0aSI6ImM5ZjFjN2EwLWJiZDAtNGRmZS04OGRlLTMyNmU1NTJiMGJhZiJ9.jRXGSrux2sVc8wtSyL3Z4WWkIFZR6pFbpdEC9ouVjg0")