<!-- Container Code: /application/themes/landing-page/containers/image.vtl -->
<div class="img-poloroid" style="background-image: url('/dA/${ContentIdentifier}/$!{fileName}/480w/50q/$!{fileName}');"></div>