<!-- Container Code: /application/containers/video.vtl -->

#set($fvideo = $dotContentMap.id)
<a class="video-cover bg-overlay-30 mb-5" data-lightbox="iframe" href="https://www.youtube.com/watch?v=$!{id}">
  <div class="video-img" style="background-image: url($!{dotContentMap.thumbnailLarge});"></div>
  <span class="icon mdi mdi-play video-cover-icon"></span>
</a>