/*
*
* Links
*/

// Standard link style
a {
  transition: $transition-base;
  
  &,
  &:focus,
  &:active,
  &:hover {
    text-decoration: $link-decoration;
  }

  @include link($link-color, $link-hover-color);

  &[href*='tel'],
  &[href*='mailto'] {
    white-space: nowrap;
  }
}

.link-hover {
  color: $link-hover-color;
}

.link-press {
  color: $link-press-color;
}

.privacy-link {
  display: inline-block;
}

* + .privacy-link { margin-top: 50px; }

.dropdown-link {
  position: relative;
  display: inline-block;
  &:after {
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-weight: 300;
    content: "";
    font-family: "Material Design Icons";
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    right: -10px;
    pointer-events: none;
    color: $gray-500;
  }
}
.persona-menu {
  padding: 0;
  a {
    color: $gray-600;
    padding: 5px 15px;
    font-size: 13px;
    display: block;
    cursor: pointer;
    &:hover {
      color: $orange;
      background: $gray-100;
    }
  }
  a.my-account {
    display: block;
    text-align: center;
    padding: 5px 15px;
    margin: 5px 0;
    border-top: 1px solid $gray-300; 
  }
}

.list-marked > li::before {
  content: "";
  font-family: "Material Design Icons";
}