<header>
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-sm-12">
                <a href="/" class="brand"><img src="${dotTheme.path}img/logo.png"></a>
            </div>
        </div>
    </div>
</header>