$dotJSON.put("title", "File Template Design Example")
$dotJSON.put("friendly_name", "File Template Design Example")
## This properties only if is a Design Template
$dotJSON.put("theme", "//demo.dotcms.com/application/themes/travel")