<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a href="#">About</a>
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
      <a href="contact.html">Contact</a>
    </div>
    <div class="footer-copyright">
      &copy; 2026 <a href="#">PowerAdmin</a>. All Rights Reserved.
    </div>
    <div class="footer-credits">
    </div>
  </div>
</footer>
